{#
  ./templates/tags/index.html.twig
  Variables disponibles:
    - tags Array(Tag(id, nom, slug))
#}



    <div class="row">
      <div class="col-lg-12">

        <ul class="list-unstyled mb-0">
          {% for tag in tags %}
          <li>
            <a href="{{ path('app_tags_show', {id: tag.id, slug: tag.slug}) }}">{{tag.nom}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
