{#
  ./templates/tags/show.html.twig
  Variables disponibles:
    - tag Tag(id, nom, slug, Creatures ARRAY Creature)
#}
{% extends 'base.html.twig' %}

{% block title %}
  {{ tag.nom }}
{% endblock %}

{% block content1 %}
  <h1>Créatures liées au tag "{{ tag.nom }}"</h1>
  {% include 'creatures/liste.html.twig' with {creatures: tag.creatures} %}
{% endblock %}
