{#
  ./templates/partials/aside.html.twig
#}

<!-- Search Widget -->
<div class="card my-4">
  <h5 class="card-header">Rechercher une créature</h5>
  <div class="card-body">
    <form class="" action="{{path('app_creatures_search')}}" method="get">
      <input type="text" name="search" placeholder="Mot-clé" />
      <input type="submit" />
    </form>
  </div>
</div>

<!-- Categories Widget -->
<div class="card my-4">
  <h5 class="card-header">Tags</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">

{{ render(controller('App\\Controller\\TagController::indexAction')) }}

      </div>

    </div>
  </div>
</div>
