{#
  ./templates/creatures/index.html.twig
  Variables disponibles:
    - creatures ARRAY(Creature(id, ...))
#}


{% block title %}

{% endblock %}

{% block content1 %}

  {% for film in films %}
  <hr/>
  <div class="row">
    <div class="col-md-4">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{asset('images/'~film.image)}}" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>{{film.titre}}</h3>
      <p>{{film.synopsis}}</p>
      <a class="btn btn-primary" href="{{ path('app_films_show', {id: film.id, slug: film.slug}) }}">Voir les détails du film</a>
      <hr/>
    </div>
  </div>

  {% endfor %}

{% endblock %}
