{#
  ./templates/pages/index.html.twig
  Variables disponibles:
    - pages Array(Page(id, titre, slug, texte, dateCreation))
#}

<ul class="navbar-nav ml-auto">

  {% for page in pages %}
  <li class="nav-item">
    <a class="nav-link" href="{{ path('app_pages_show', {'id': page.id, 'slug': page.slug}) }}">
      {{ page.titre }}
    </a>
  </li>
  {% endfor %}

</ul>
