{#
  ./templates/pages/show.html.twig
  Variables disponibles:
    - page pages(id, titre, slug, texte, dateCreation)

#}

{% extends 'base.html.twig' %}

  {% block title %}
    {{ page.titre }}
  {% endblock %}


{% block content1 %}
  </br>
  <h1>{{ page.titre }}</h1>
  <hr>
  <div>
    {{ page.texte }}
  </div>
  {% if page.id == 1 %}
    <hr>
    <h2>Dernières créatures</h2>
  {% elseif page.id == 3 %}
    </br>
    <a class="btn btn-primary" href="{{ path('app_creatures_add')}}">Ajouter une créature</a>
  {% endif %}


{# CONTENUS COMPLEMENTAIRES #}

{% if page.id == 1 %}

{{ render(controller('App\\Controller\\CreatureController::indexAction', {
              vue: 'liste',
              limit: 3
})) }}

{% elseif page.id == 2 %}

  {{ render(controller('App\\Controller\\FilmController::indexAction')) }}

{% elseif page.id == 3 %}

  {{ render(controller('App\\Controller\\CreatureController::indexAction', {
                vue: 'liste',
                limit: 15
  })) }}

{% endif %}


{% endblock %}
