{#
  ./templates/creatures/add.html.twig
  Variables disponibles:
    - creature Creature (id, nom, texteLead, texteSuite, dateCreation, image, film; slug, tags)
    - form CreatureType
#}
{% extends 'base.html.twig' %}

{% block title %}
  {{ creature.nom }} - Edition
{% endblock %}

{% block content1 %}
  <h1>Edition de la créature : {{ creature.nom }}</h1>

{# {{ form(form) }} #}


{#
  METHODE 2 : Affichage de chaque champ séparément
  {{ form_start(form) }}
  <fieldset>
    <legend>Le post</legend>
    <div class="champ-titre">{{ form_row(form.Titre) }}</div>
    <div class="champ-texte">{{ form_row(form.texte) }}</div>
    {{ form_rest(form) }}
  </fieldset>

  {{ form_end(form) }}
#}


{#  METHODE 3 : Affichage de chaque élément de champ séparément #}
  {{ form_start(form) }}
    <div class="champ-titre">
      <span>{{ form_label(form.nom) }}</span>
      <span>{{ form_widget(form.nom, {attr: {class: 'test'}}) }}</span>
      <span>{{ form_errors(form.nom) }}</span>
    </div>
    <div class="checkboxes" style="column-count: 6;">
      {% for tag in form.tags %}
        <div>
          {{ form_widget(tag) }}
          <span>{{ form_label(tag) }}</span>
          <span>{{ form_errors(tag) }}</span>
        </div>
      {% endfor %}

    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}




{% endblock %}
