{#
  ./templates/creatures/index.html.twig
  Variables disponibles:
    - creatures ARRAY(Creature(id, ...))
#}
{% extends 'base.html.twig' %}

{% block title %}
  Liste des creatures
{% endblock %}

{% block content1 %}

{% endblock %}
