{#
  ./templates/creatures/liste.html.twig
  Variables disponibles:
    - creatures ARRAY(Creature(id, ...))
#}


  {% for creature in creatures %}
  <hr>
  <div class="row">
    <div class="col-md-4">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{asset('images/'~creature.image)}}" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>{{creature.nom}}</h3>
      <p class="lead">
        dans
        <a href="{{ path('app_films_show', {id: creature.film.id, slug: creature.film.slug}) }}">{{creature.film.titre}}</a> le {{ creature.dateCreation | date('d-m-Y') }}
      </p>
      <p>{{creature.texteLead}}</p>

      <div>
        <a class="btn btn-primary" href="{{ path('app_creatures_show', {id: creature.id, slug: creature.slug}) }}">Voir la créature</a>
        <a class="btn btn-secondary" href="{{ path('app_creatures_edit', {id: creature.id, slug: creature.slug}) }}">Modifier</a>
        <form style="display:inline-block" action="{{ path('app_creatures_delete', {id: creature.id, slug: creature.slug }) }}" method="post" onSubmit="return confirm('Etes-vous bien sûr de vouloir supprimer cette créature?')">
          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creature.id) }}" />
          <input class="btn btn-secondary" type="submit" value="Supprimer" />
        </form>
      </div>
      <hr/>
      <ul class="list-inline tags">
        {% for tag in creature.tags %}
            <li><a href="{{ path('app_tags_show', {id: tag.id, slug: tag.slug}) }}" class="btn btn-default btn-xs">{{tag.nom}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}

  <!-- /.row -->


<!--
  <hr>
  <div><a class="btn btn-primary disabled" href="#">Plus de créatures</a></div>
-->
