{#
  ./templates/creatures/search.html.twig
  Variables disponibles:
    - search
    - creature Creature(id, nom, texteLead, texteSuite, dateCreation, image, slug, film ARRAY film, tags ARRAY Tag)
#}

{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block content1 %}

<h3 class="mt-4">Résultats de votre recherche: "{{ search }}"</h3>

  {% for creature in creatures %}
  <hr>
  <div class="row">
    <div class="col-md-4">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{asset('images/'~creature.image)}}" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>{{creature.nom}}</h3>
      <p class="lead">
        dans
        <a href="{{ path('app_films_show', {id: creature.film.id, slug: creature.film.slug}) }}">{{creature.film.titre}}</a> le {{ creature.dateCreation | date('d-m-Y') }}
      </p>
      <p>{{creature.texteLead}}</p>

      <div>
        <a class="btn btn-primary" href="{{ path('app_creatures_show', {id: creature.id, slug: creature.slug}) }}">Voir la créature</a>
      </div>
      <hr/>
      <ul class="list-inline tags">
        {% for tag in creature.tags %}
            <li><a href="{{ path('app_tags_show', {id: tag.id, slug: tag.slug}) }}" class="btn btn-default btn-xs">{{tag.nom}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}


{% endblock %}
