{#
  ./templates/creatures/show.html.twig
  Variables disponibles:
    - creature Creature(id, nom, texteLead, texteSuite, dateCreation, image, slug, film ARRAY film, tags ARRAY Tag)
#}

{% extends 'base.html.twig' %}

{% block title %}
  {{ creature.slug }}
{% endblock %}

{% block content1 %}

<h1 class="mt-4">{{creature.nom}}</h1>
<p class="lead">
  dans
  <a href="artiste_details.html">{{creature.film.titre}}</a> le {{ creature.dateCreation | date('d-m-Y') }}
</p>
<hr>
<div class="row">
  <div class="col-md-6">
    <a href="#">
      <img class="img-fluid rounded mb-3 mb-md-0" src="{{asset('images/'~creature.image)}}" alt="">
    </a>
  </div>
  <div class="col-md-6">
    <p class="lead">{{creature.texteLead}}</p>
    <hr/>
    <p>{{creature.texteSuite}}</p>
    <div>
      <a class="btn btn-primary" href="{{ path('app_creatures_edit', {id: creature.id, slug: creature.slug}) }}">Modifier</a>
      <form style="display:inline-block" action="{{ path('app_creatures_delete', {id: creature.id, slug: creature.slug }) }}" method="post" onSubmit="return confirm('Etes-vous bien sûr de vouloir supprimer cette créature?')">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ creature.id) }}" />
        <input class="btn btn-secondary" type="submit" value="Supprimer" />
      </form>
    </div>
    <hr/>
    <ul class="list-inline tags">
      {% for tag in creature.tags %}
          <li><a href="{{ path('app_tags_show', {id: tag.id, slug: tag.slug}) }}" class="btn btn-default btn-xs">{{tag.nom}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- /.row -->
<hr>


{% endblock %}
