<!DOCTYPE html>
<html lang="en">

  <head>
    {% include 'partials/head.html.twig' with {title: block('title')} %}
  </head>

  <body>

    <!-- Navigation -->
    {% include 'partials/nav.html.twig' %}


    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

        {% block content1 %}{% endblock %}

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          {% include 'partials/aside.html.twig' %}

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    {% include 'partials/footer.html.twig' %}

    <!-- Scripts -->
    {% include 'partials/scripts.html.twig' %}

  </body>

</html>
